.dropdown-menu {
  /* background: red; */
  width: 300px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #4aabae;
  cursor: pointer;
}

.dropdown-menu li:hover {
  /* text-align: start; */
  background: #80dde0;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }

  .dropdown-menu {
    width: 10%;
  }
}
