.title {
  text-align: center;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.flip-card {
  margin: 5px;
  perspective: 1000px;
  width: 280px;
  height: 400px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border-radius: 20px;
  padding: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0efed;
}

.flip-card-back {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0efed;
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  .card-container {
    display: block;
  }

  .flip-card {
    width: 100%; /* Take up full width for smaller screens */
    margin: 10px 0; /* Add margin only on top and bottom for smaller screens */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flip-card {
    width: calc(50% - 20px);
    margin: 10px 0;
  }
}

/* @media (min-width: 1025px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flip-card {
    width: calc(
      50% - 20px
    ); 
    margin: 10px 0; 
  }

  
  .flip-card:nth-child(3),
  .flip-card:nth-child(4) {
    margin-top: 20px; 
  }
} */
