@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --font-base: "Cormorant Upright", serif;
  --font-alt: "Open Sans", sans-serif;

  --color-golden: #dcca87;
  --color-black: #0c0c0c;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.health {
  font: "Cormorant Upright", serif;
  font: "Open Sans", sans-serif;
  margin: 4rem 6rem;
  color: #2a2a2a;
}

.health h1 {
  font-size: 3rem;
}

.Healthcard {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.h-card {
  width: 32%;
  text-align: start;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem;
  margin-right: 1rem;
}

.h-image {
  height: 200px;
  overflow: hidden;
  border-radius: 7px;
}

.h-image img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  border-radius: 7px;
}

.h-image:hover img {
  transform: scale(1.3);
}

.h-card h4 {
  font-size: 1.3rem;
  padding: 0.9rem 0 0.2rem 0;
}

@media screen and (max-width: 850px) {
  .health {
    margin: 4rem 2rem;
  }

  .healthcard {
    flex-direction: column;
  }

  .h-card {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
