/* HighwayLane.css */

*{
    scroll-behavior: smooth;
}
.highway-lane {
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    width: calc(100% - 40px);
  }
  
  .highway-image-container {
    display: flex;
    display: flex;
    animation: slide 10s linear infinite; 
  }
  
  .highway-image-container img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    margin-right: 20px; 
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  