.medicine-heading h2 {
  text-align: center;
  font-size: 3rem;
  margin: 20px;
}
.medicine-heading {
  margin: 20px;
}

.medicine-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.medicine-card {
  color: white;
  width: calc(25% - 20px);
  margin-bottom: 20px;
  background-color: #4aabae;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.medicine-description {
  margin: 15px;
}

.medicine-view a {
  color: unset;
  text-decoration: none;
  background-color: #6fcdd1;
  border: 1px solid #4aabae;
  padding: 8px;
}
.medicine-image img {
  width: 140%;
  height: 200px;
  border-radius: 8px;
}

.medicine-title h3 {
  margin-top: 10px;
}

.search-container input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
  margin-right: 10px;
}

.search-container input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}

.search-container label {
  font-weight: bold;
}

.search-container {
  display: flex;
  margin-bottom: 20px;
  padding: 8px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 120px;
  justify-content: space-evenly;
}

.search-container {
  position: relative;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}

datalist {
  position: absolute;
  top: 100%; /* Position below the input field */
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none; /* Hide top border */
  border-radius: 0 0 4px 4px;
}

.search-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .medicine-card {
    width: calc(50% - 20px);
  }

  .search-container input[type="text"],
  .search-container select {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 480px) {
  .medicine-card {
    width: 100%;
  }
  .search-container {
    margin-left: 30px;
  }

  .search-container input[type="text"],
  .search-container select {
    width: 100%;
  }
}
